%h1.title All Posts

=link_to "Create Post", new_admin_post_path, class: "btn btn-default", id: "new-post"

%table.table.table-striped.posts
  %tr
    %th.title Title
    %th.preview Preview
    %th.date Created On
    %th.date Posted On
    %th.details
  - for post in @posts
    %tr{id: "post-#{post.id}"}
      %td.title= post.title.titleize
      %td.preview= simple_format(truncate(post.content, length: 700))
      %td.date= post.created_at.strftime("%b %e, %Y")
      %td.date= post.activated_at ? post.activated_at.strftime("%b %e, %Y") : "Not Posted Yet"
      %td.details= link_to "View Details", admin_post_path(post), class: "btn btn-sm btn-default"